@import "../abstract/variables";

.content {
    padding: 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: $content-size-sm;
    height: 100vh;
    padding-bottom: 80px;
    justify-self: center;
    align-self: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    color: white;
    .primary{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .title-unique{
            display: flex;
            text-align: center;
            align-self: center;
            justify-content: center;
            h1 {
                font-size: 40px;
            }
        }
    }
    .secondary {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        .title {
            height: 80px;
            width: 100%;
            h1 {
                text-align: center;
                height: 100%;
                font-size: 24px;
            }
        }
        .text {
            padding-top: 15px;
            width: 100%;
            p {
                text-align: justify;
                font-size: 16px;
            }
            .bold {
                text-align: justify;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
    
}


@media only screen and (min-width: 425px) {
    .content {
        width: $content-size-md;
    }
}

@media only screen and (min-width: 768px) {
    .content {
        width: $content-size-md;
    }
}